*{
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
  color: #222;
}
.container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

h1, h2, h3 {
    margin: 0 0 0.35em;
}

h1{
  color:white;
}

h2{
  font-size: 28px;
}

h3{
  color: rebeccapurple;
  font-size: 20px;
}

.card{
  border: 1px solid #c9c9c9;
  padding: 20px;
  border-radius: 7px;
  margin-bottom:10px;
  box-shadow: 3px 3px 3px #888888;
}

img{
  border-radius: 7px 7px 0 0;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.button{
  padding: 8px 16px;
  background-color: rebeccapurple;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-top:10px;
}

header{
  background-color:rebeccapurple;
}

footer{
  border-top: 2px solid rebeccapurple;
}